@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;700&display=swap');

body {
    font-family: 'Wix Madefor Display', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(183,210,240,0.7315301120448179) 79%, rgba(183,210,240,1) 100%);
    user-select: none;
}

.container {
    max-width: 1540px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

.header-nav {
    padding-top: 25px;
    display: flex;      /* Выстроить в ряд */
    justify-content: space-between;     /* Расстояние между лого и навигацией. Элементы по краям блока */
    align-items: center;    /* Выравнивание по вертикали */
    padding-bottom: 130px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #415380;
    text-decoration: none;
    max-width: 32px;
}

.login-teacher--text {
    font-weight: 700;
    font-size: 24px;
    color: #415380;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition: background-size .3s;
}

.login-teacher--text:hover {
    background-size: 100% 3px;
}

.login {
    width: 638px;
    height: 590px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 13.4px #8A8A8A;
    display: flex;
    justify-content: center;
    padding-top: 49px;
    border-radius: 25px;
}

.login-text-enter {
    font-size: 43px;
    font-weight: 700;
    color: #415380;
    display: flex;
    justify-content: center;
}

.login-text-registration{
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.login-text-reg-link {
    padding-left: 5px;
    color: #4875e5;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition: background-size .3s;
}

.login-text-reg-link:hover {
    background-size: 100% 3px;
}

/* Form */

#login-form {
    max-height: 261px;
    position: absolute;
    margin-top: 120px;
    width: 463px;
    height: 261px;
    display: table-column;
}

#fio, #group,
#password {
    border: 3px solid #68779E;
    background-color: #FBFBFB;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 500;
    border-radius: 17px;
    opacity: 0.77;
    width: 100%;
    height: 60px;
    cursor: default;
}

#login-submit {
    font-size: 28px;
    font-weight: 700;
    color: white;
    width: 462px;
    height: 66px;
    border-radius: 20px;
    background-color: #4875E5;
    box-shadow: 0 0 11px #6278ED;
}

#login-submit:hover {
    background-color: #618EFF;
    box-shadow: 0 0 15px #6278ED;
    transition: 400ms;
}
#login-submit:not(:hover) {
    background-color: #4875E5;
    box-shadow: 0 0 11px #6278ED;
    transition: 400ms;
}

#group, #password,
#login-submit {
    margin-top: 36px;
}

.warning-box {
    width: 462px;
    height: 67px;
    display: flex;
    margin: 0 auto;
}

.warning-good,
.warning-bad{
    bottom: 45px;
    width: 462px;
    height: 67px;
    font-weight: 700;
    font-size: 28px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.warning-good {
    background-color: #5AEC60;
    box-shadow: 0 0 11px 1px #5AEC60;
}

.warning-bad {
    background-color: #F44C4C;
    box-shadow: 0 0 11px 1px #F44C4C;
}

.warning-good,
.warning-bad{
    opacity: 0;
    animation: anim 3s ease-in alternate-reverse;
}
@keyframes anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.flash-text {
    font-size: 28px;
    color: white;
}