{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
<header class="header">
    <div class="container">
        <!-- Header nav -->
        <div class="header-nav">
            <div class="logotype">
                <a class="logotype-image"><img src="E:/Project/ElDiary/images/yotk" width="77" height="70" alt=""></a>
                <a class="logo">ЭЛЕКТРОННЫЙ ДНЕВНИК</a>
            </div>
            <nav class="nav-list">
                <ul class="login-teacher">
                    <li class="login-teacher-item"><a href="#" class="login-teacher--text">Войти как преподаватель</a></li>
                </ul>
            </nav>
        </div>
        <div class="login">
            <div class="login-text">
                <h1 class="login-text-enter">Вход</h1>
                <div class="login-text-registration">
                    <h2 class="login-text-no-account">Нет аккаунта?</h2>
                    <a href="#" class="login-text-reg-link">Зарегистрироваться</a>
                </div>
            </div>
            <form method="post" action="#" name="login-form" id="login-form">
                <input type="text" id="fio" name="fnl" placeholder="ФИО">
                <input type="text" id="group" name="group" placeholder="Группа">
                <input type="text" id="password" name="password" placeholder="Пароль">
                <input type="submit" value="Войти" id="login-submit">
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="warning-box">
            {% for message in messages %}
            {% if message == "Good!" %}
            <div class="warning-good"><p class="flash-text">{{ message }}</p></div>
            {% endif %}
            {% if message == "Bad!" %}
            <div class="warning-bad"><p class="flash-bad">{{ message }}</p></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    </div>
</header>
{% endblock %}