{% extends 'base_main.html' %}

{% block title %}Дневник ЙОТК{% endblock %}

{% block body %}

<header class="main-header">
    <div class="main-box-logo">
        <a class="logotype-image"><img src="../images/yotk_black.png" width="77" height="85" alt="YOTK"></a>
        <a class="main-logo">ЭЛЕКТРОННЫЙ ДНЕВНИК</a>
    </div>
    <ul class="main-header-nav">
        <li class="shedule"><a href="#" >Расписание</a></li>
        <li class="studying-plan"><a href="#" >Учебный план</a></li>
        <li class="message"><a href="#" >Сообщение</a></li>
    </ul>
    <div class="profile">
        <a href="#" class="profile_nav">Кропотова Елена</a>
    </div>
</header>

{% endblock %}